.navbar{
     
    justify-content: space-between;
    padding: 0 40px;
    background-color:#ff4f00;
}
.navbar_heading{
    margin-right:  20px;
    font-size: 32px;
}
.navbar_form{
    position: relative;
    width:450px;
    height:40px;
    border:1px solid orangered;
    border-radius: 5px;
    padding:3px;
}
.navbar_search{
flex: 1;
height:100%;
padding:0 7px;
font-size: 20px;
font-weight: 500;
border: none;
outline: none;
}
.search_button{
  height:100%;
  padding:0 10px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  background-color: #6457f9;
  color:#fff;
  cursor: pointer;
}
.search_result{
    position:absolute;
    top:100%;
    left: 0;
    width:100%;
    margin-top:15px;
    border:1px solid #cdcdcd;
    border-radius: 5px;
    background-color: #fff;
    z-index:9999;
}
.search_suggestion_link{
    display: flex;
}
.search_suggestion_link>a{
    width:100%;
    padding:10px 20px;
    font-size: 18px;
    cursor: pointer;
}
.search_suggestion_link:hover,
.search_suggestion_link.active{
    background-color: #e3e3e3;
}
.navbar_links{
    font-size: 15px;

}
.navbar_links > a{
    margin:10px;
}
.cart_counts{
    justify-content: center;
    width:20px;
    height: 20px;
    border-radius: 100%;
    background-color: #6457f9;
    color:#fff;
    font-size: 15px;
    margin-left: 5px;
}
.navbar_links> a.active{
    font-weight: 600;
    color:white;
}